# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VSCode
.vscode/

# Databricks / Spark temp
derby.log
metastore_db/
spark-warehouse/

# Training utilities (local only)
utilization/
*.zip
